<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="public/CSS/home_style.css">
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm fixed-top navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="#" class="navbar-brand mr-auto"><img src="public/img/logo.png" alt="Health-e-Locker" height="35" width="60"><span class="text-white"> Health-E-Locker</span></a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <nav class="navbar-nav">
                    <a href="#" class="nav-link text-white">Dashboard</a>
                    <a href="/blog" class="nav-link text-white">Blog</a>
                    <a href="/contactus" class="nav-link text-white">Contact us</a>
                    <a href="/logout"><button class="btn btn-dark m-auto" type="button">Logout</button></a>
                </nav>
            </div>
        </div>
    </nav>
    <header class="jumbotron container-fluid">
        <div class="container align-self-center">
            <h2>Welcome<p> {{  .Username }}</p> </h2>
        </div>
    </header>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="card col-12 col-sm-4 rounded">
                <div class="card-body card-align">
                    <h5 class="card-title">All Documents</h5>
                    <hr>
                    <img src="public/img/doc.svg" alt="">
                    <a href="/allDoc" class="stretched-link"></a>
                </div>
            </div>
            <div class="card col-12 col-sm-4">
                <div class="card-body card-align">
                    <h5 class="card-title">Symptoms</h5>
                    <hr>
                    <img src="public/img/symptom-timeline_f.svg" alt="">
                    <a href="/addSymptom" class="stretched-link"></a>
                </div>
            </div>
            <div class="card col-12 col-sm-4">
                <div class="card-body card-align">
                    <h5 class="card-title">Allergies</h5>
                    <hr>
                    <img src="public/img/allergy.svg" alt="">
                    <a href="/addAllergy" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="card col-12 col-sm-4">
                <div class="card-body card-align">
                    <h5 class="card-title">Immunisation</h5>
                    <hr>
                    <img src="public/img/immune.svg" alt="">
                    <a href="/addImmunity" class="stretched-link"></a>
                </div>
            </div>
            <div class=" card col-12 col-sm-4">
                <div class="card-body card-align">
                    <h5 class="card-title">Medication</h5>
                    <hr>
                    <img src="public/img/medicine.svg" alt="">
                    <a href="/addMedication" class="stretched-link"></a>
                </div>
            </div>
            <div class="card col-12 col-sm-4">
                <div class="card-body card-align">
                    <h5 class="card-title">Hospital Visits</h5>
                    <hr>
                    <img src="public/img/doctor_visit.svg" alt="">
                    <a href="/addHospital" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="card col-12 col-sm-4">
                <div class="card-body card-align">
                    <h5 class="card-title">Activities</h5>
                    <hr>
                    <img src="public/img/activities.svg" alt="">
                    <a href="/activities" class="stretched-link"></a>
                </div>
            </div>
            <div class="col-12 col-sm-4">
            </div>
            <div class="col-12 col-sm-4">
            </div>
        </div>
    </div>
</body>
</html>